.NComponents .buttons {
    padding: 0;
    list-style-type: none;
}
.NComponents form .buttons {
    text-align: center;
}
.NComponents .buttons li {
    display: inline;
}
.NComponents .buttons button, .NComponents .buttons a {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px #eee;
    box-shadow: 0 1px 1px #eee;
    box-sizing: border-box;
    text-decoration: none;
}
.NComponents .buttons li.lSize button, .NComponents .buttons li.lSize a {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}
.NComponents .buttons li.sSize button, .NComponents .buttons li.sSize a {
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1.5;
}
.NComponents .button-block li {
    margin-bottom: 10px;
    display: block;
}
.NComponents .button-block a {
    display: block;
    width: 100%;
}
.NComponents .buttons button:focus, .NComponents .buttons a:focus, .NComponents .buttons a:active:focus, .NComponents .buttons a.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.NComponents .buttons button:hover, .NComponents .buttons button:focus, .NComponents .buttons a:hover, .NComponents .buttons a:focus {
    color: #333;
    text-decoration: none;
}
.NComponents .buttons button:active, .NComponents .buttons a:active, .NComponents .buttons a.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.NComponents .buttons .bgc-default button, .NComponents .buttons .bgc-default a {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ccc;
}
.NComponents .buttons .bgc-default button:hover, .NComponents .buttons .bgc-default button:focus, .NComponents .buttons .bgc-default button:active, .NComponents .buttons .bgc-default a:hover, .NComponents .buttons .bgc-default a:focus, .NComponents .buttons .bgc-default a:active, .NComponents .buttons .bgc-default a.active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.NComponents .buttons .bgc-default button:active, .NComponents .buttons .bgc-default a:active, .NComponents .buttons .bgc-default a.active {
    background-image: none;
}
.NComponents .buttons .bgc-primary button, .NComponents .buttons .bgc-primary a {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.NComponents .buttons .bgc-primary button:hover, .NComponents .buttons .bgc-primary button:focus, .NComponents .buttons .bgc-primary button:active, .NComponents .buttons .bgc-primary a:hover, .NComponents .buttons .bgc-primary a:focus, .NComponents .buttons .bgc-primary a:active, .NComponents .buttons .bgc-primary a.active {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}
.NComponents .buttons .bgc-primary button:active, .NComponents .buttons .bgc-primary a:active, .NComponents .buttons .bgc-primary a.active {
    background-image: none;
}
.NComponents .buttons .bgc-success button, .NComponents .buttons .bgc-success a {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.NComponents .buttons .bgc-success button:hover, .NComponents .buttons .bgc-success button:focus, .NComponents .buttons .bgc-success button:active, .NComponents .buttons .bgc-success a:hover, .NComponents .buttons .bgc-success a:focus, .NComponents .buttons .bgc-success a:active, .NComponents .buttons .bgc-success a.active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.NComponents .buttons .bgc-success button:active, .NComponents .buttons .bgc-success a:active, .NComponents .buttons .bgc-success a.active {
    background-image: none;
}
.NComponents .buttons .bgc-info button, .NComponents .buttons .bgc-info a {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.NComponents .buttons .bgc-info button:hover, .NComponents .buttons .bgc-info button:focus, .NComponents .buttons .bgc-info button:active, .NComponents .buttons .bgc-info a:hover, .NComponents .buttons .bgc-info a:focus, .NComponents .buttons .bgc-info a:active, .NComponents .buttons .bgc-info a.active {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.NComponents .buttons .bgc-info button:active, .NComponents .buttons .bgc-info a:active, .NComponents .buttons .bgc-info a.active {
    background-image: none;
}
.NComponents .buttons .bgc-warning button, .NComponents .buttons .bgc-warning a {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.NComponents .buttons .bgc-warning button:hover, .NComponents .buttons .bgc-warning button:focus, .NComponents .buttons .bgc-warning button:active, .NComponents .buttons .bgc-warning a:hover, .NComponents .buttons .bgc-warning a:focus, .NComponents .buttons .bgc-warning a:active, .NComponents .buttons .bgc-warning a.active {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.NComponents .buttons .bgc-warning button:active, .NComponents .buttons .bgc-warning a:active, .NComponents .buttons .bgc-warning a.active {
    background-image: none;
}
.NComponents .buttons .bgc-danger button, .NComponents .buttons .bgc-danger a {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.NComponents .buttons .bgc-danger button:hover, .NComponents .buttons .bgc-danger button:focus, .NComponents .buttons .bgc-danger button:active, .NComponents .buttons .bgc-danger a:hover, .NComponents .buttons .bgc-danger a:focus, .NComponents .buttons .bgc-danger a:active, .NComponents .buttons .bgc-danger a.active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.NComponents .buttons .bgc-danger button:active, .NComponents .buttons .bgc-danger a:active, .NComponents .buttons .bgc-danger a.active {
    background-image: none;
}
.NComponents .buttons .bgc-link a {
    font-weight: normal;
    color: #428bca;
    cursor: pointer;
    border-radius: 0;
}
.NComponents .buttons .bgc-link a, .NComponents .buttons .bgc-link a:active {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.NComponents .buttons .bgc-link a, .NComponents .buttons .bgc-link a:hover, .NComponents .buttons .bgc-link a:focus, .NComponents .buttons .bgc-link a:active {
    border-color: transparent;
}
.NComponents .buttons .bgc-link a:hover, .NComponents .buttons .bgc-link a:focus {
    color: #2a6496;
    text-decoration: underline;
    background-color: transparent;
}
.NComponents .button-group, .NComponents .button-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}
.NComponents .button-group a, .NComponents .button-vertical a {
    position: relative;
    float: left;
}
.NComponents .button-vertical a {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
}
.NComponents .button-group li a {
    margin-left: 1px;
}
.NComponents .button-group li:first-child a {
    margin-left: 0;
}
.NComponents .button-vertical li a {
    margin-top: 1px;
}
.NComponents .button-vertical li:first-child a {
    margin-top: 0;
}
.NComponents .button-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
.NComponents .button-justified li {
    display: table-cell;
    float: none;
    width: 1%;
}
.NComponents .button-justified li {
    padding-left: 1px;
}
.NComponents .button-justified li:first-child {
    padding-left: 0;
}
.NComponents .button-justified li a {
    margin-left: 0;
    width: 100%;
}
.NComponents .navTab {
    border-bottom: 1px solid #ddd;
    margin-bottom: 18px;
    padding: 0;
    list-style: none;
}
.NComponents .navTab li {
    float: left;
    margin-bottom: -1px;
}
.NComponents .navTab li a {
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 10px 15px;
}
.NComponents .navTab li a:hover, .NComponents .navTab li a:focus {
    text-decoration: none;
    background-color: #eee;
}
.NComponents .navTab li a:hover {
    border-color: #eee #eee #ddd;
}
.NComponents .navTab li.active a, .NComponents .navTab li.active a:hover, .NComponents .navTab li.active a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.NComponents .navTab.navi-justified {
    border-bottom: none;
    width: 100%;
}
.NComponents .navTab.navi-justified li {
    display: table-cell;
    width: 1%;
    text-align: center;
    float: none;
}
.NComponents .navPill {
    margin-bottom: 18px;
    padding: 0;
    list-style: none;
}
.NComponents .navPill li {
    padding-left: 1px;
    float: left;
}
.NComponents .navPill li:first-child {
    padding-left: 0;
}
.NComponents .navPill li a {
    border-radius: 4px;
    display: block;
    padding: 10px 15px;
}
.NComponents .navPill li a:hover {
    text-decoration: none;
    background-color: #eee;
}
.NComponents .navPill li.active a, .NComponents .navPill li.active a:hover, .NComponents .navPill li.active a:focus {
    color: #fff;
    background-color: #428bca;
}
.NComponents .navPill.navi-justified {
    width: 100%;
}
.NComponents .navPill.navi-justified li {
    display: table-cell;
    width: 1%;
    text-align: center;
    float: none;
}
.NComponents .navLine {
    border-radius: 4px;
    margin-bottom: 18px;
    padding: 0;
    list-style: none;
    display: table;
    overflow: hidden;
}
.NComponents .navLine li {
    border-left: 1px solid #ccc;
    display: table-cell;
}
.NComponents .navLine li:first-child {
    border-left: none;
}
.NComponents .navLine li a {
    display: block;
    padding: 10px 15px;
}
.NComponents .navLine li a:hover {
    text-decoration: none;
    background-color: #eee;
}
.NComponents .navLine li.active a, .NComponents .navLine li.active a:hover, .NComponents .navLine li.active a:focus {
    color: #fff;
    background-color: #428bca;
}
.NComponents .navLine.navi-justified {
    width: 100%;
}
.NComponents .navLine.navi-justified li {
    display: table-cell;
    width: 1%;
    text-align: center;
}
.NComponents .navGroup {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px #eee;
    box-shadow: 0 1px 1px #eee;
    border: 1px solid #ccc;
    border-collapse: separate;
    border-radius: 4px;
    margin-bottom: 18px;
    padding: 0;
    list-style: none;
    display: table;
    overflow: hidden;
}
.NComponents .navGroup li {
    border-left: 1px solid #ccc;
    display: table-cell;
}
.NComponents .navGroup li:first-child {
    border-left: none;
}
.NComponents .navGroup li a {
    display: block;
    padding: 10px 15px;
}
.NComponents .navGroup li a:hover {
    text-decoration: none;
    background-color: #eee;
}
.NComponents .navGroup li.active a, .NComponents .navGroup li.active a:hover, .NComponents .navGroup li.active a:focus {
    color: #fff;
    background-color: #428bca;
}
.NComponents .navGroup.navi-justified {
    width: 100%;
}
.NComponents .navGroup.navi-justified li {
    display: table-cell;
    width: 1%;
    text-align: center;
}
.NComponents .paginations {
    display: block;
    margin: 0 0 18px 0;
    padding: 0;
    text-align: center;
}
.NComponents .paginations li {
    display: inline;
}
.NComponents .paginations li a, .NComponents .paginations li span {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    float: none;
    -webkit-box-shadow: 0 1px 1px #eee;
    box-shadow: 0 1px 1px #eee;
    border-radius: 4px;
}
.NComponents .paginations li a:hover, .NComponents .paginations li span:hover, .NComponents .paginations li a:focus, .NComponents .paginations li span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
}
.NComponents .paginations .active a, .NComponents .paginations .active span, .NComponents .paginations .active a:hover, .NComponents .paginations .active span:hover, .NComponents .paginations .active a:focus, .NComponents .paginations .active span:focus {
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}
.NComponents .pagers {
    margin: 0 0 18px 0;
    padding: 0;
    text-align: center;
    list-style: none;
}
.NComponents .pagers li {
    display: inline;
}
.NComponents .pagers li a, .NComponents .pagers li span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px #eee;
    box-shadow: 0 1px 1px #eee;
    color: #428bca;
    text-decoration: none;
}
.NComponents .pagers li a:hover, .NComponents .pagers li a:focus {
    color: #2a6496;
    text-decoration: none;
    background-color: #eee;
}
.NComponents .pagers .next a, .NComponents .pagers .next span {
    float: right;
}
.NComponents .pagers .previous a, .NComponents .pagers .previous span {
    float: left;
}
